<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <title>Lineage Tree</title>
      <!-- Dependecies and CDN's -->
      <!-- Angular -->
      <!-- jQuery -->
      <!-- Bootstrap -->
      
      <!-- Local JS & CSS -->
   </head>
   <body>

   </body>
</html>
