#sanity {
   color: red;
}

#css-sanity {
   background-color: lightgrey;
   border: 5px grey solid;
   border-radius: 5px;
}

#sanity-treeind {
   color: blue;
}

#tree-create-sanity {
   color: green;
}

#tree-index-sanity {
   color: orange;
}


#create-tree-wrap {
   border: 5px green solid;
   border-radius: 5px;
}
